* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  text-align: center;
  color: aqua;
}

.form-check {
  text-align: start;
}

.tarjeta {
  background-color: rgba(0, 0, 148, 0.281);
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(34, 26, 147, 0.363);
}
.tarjeta li {
  list-style: none;
  text-align: justify;
}
.tarjeta .btn {
  text-decoration: none;
  background-color: rgba(58, 48, 206, 0.4431372549);
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.tarjeta .btn:hover {
  background-color: #03045e;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.responsiveContent {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.2%;
  margin-bottom: 20px;
}

.responsiveContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  padding-top: 0.5rem;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to right, #0077b6, #03045e);
}
body h1 {
  text-align: center;
  margin-top: 40px;
  color: #080442;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
body h2 {
  background-image: linear-gradient(to right, #0077b6, #03045e);
  color: rgb(130, 5, 5);
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 4px;
  font-weight: 600;
  text-transform: uppercase;
  animation-iteration-count: 2;
  animation: blur 5.75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
body h3 {
  font-size: 2rem;
  color: rgba(223, 219, 230, 0.982);
}
body .questions {
  margin-top: 40px;
  color: rgba(223, 219, 230, 0.982);
}
body .questions ol {
  list-style: none;
}
body .questions .row {
  background-color: rgba(0, 0, 148, 0.281);
}
body .questions p {
  text-align: center;
}

footer {
  background-color: black;
  text-align: center;
  margin-top: 60px;
  padding: 2rem 0 0 0;
}
footer .footer-sm {
  font-size: 2.5rem;
  background-image: linear-gradient(to right, #0077b6, #03045e);
}
footer .footer-sm .row-footer-icons {
  padding: 2rem 0;
  font-size: 30px;
  font-weight: 700;
  color: black;
}
footer .footer-sm .row-footer-icons:hover {
  color: rgb(255, 255, 255);
}

.row-footer-icons a {
  text-decoration: none;
  color: wheat;
  margin: 40px;
  font-size: 50px;
}

.footer-bottom {
  padding: 2rem 0;
  color: blue;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .title1 {
    font-size: 1rem;
  }
}
.download-logo {
  display: flex;
  text-align: center;
  margin-top: 10px;
}

.contacto {
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 148, 0.281);
  color: rgba(223, 219, 230, 0.982);
  font-size: large;
}

/*# sourceMappingURL=style.css.map */
