$primary_color: linear-gradient(to right, #0077b6, #03045e);
$secundary_color: linear-gradient(to right, #a20404, #badcef);
$text_color: rgb(247, 247, 247);
$title_color: rgb(130, 5, 5);
$subtitle_color: #080442;
