* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 0.5rem;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to right, #0077b6, #03045e);
  display: grid;
  grid-gap: 2rem;
}

img {
  max-width: 100%;
}
.img-box {
  width: 100%;
  text-align: right;
  margin-top: 0%;
}
.img-motiv {
  order: -1;
}

.logo-page {
  max-width: 60px;
}
.title {
  background-image: linear-gradient(to right, #0077b6, #03045e);
  color: rgb(130, 5, 5);
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: -2px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 1.75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro-menu {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {
  width: 100%;
  font-weight: 700;
  margin-right: 10px;
}
header {
  position: sticky;
  top: 0;
  z-index: 2;
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}
.rowlist {
  display: flex;
}

.nav__item {
  margin: 0 0 0 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.nav__link {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
.nav__link:hover {
  opacity: 0.65;
}

#intro-section {
  background-image: linear-gradient(to right, #0077b6, #03045e);
  padding: 8rem 0 0 0;
}
.display {
  text-transform: capitalize;
  color: rgb(254, 254, 254);
  font-size: 4.5rem;
  font-weight: 400;
}
h3 {
  font-size: 2.5rem;
}
.display-intro {
  font-weight: 700;
  display: inline-block;
  margin-top: 1.2rem;
  font-size: 100px;
}
.display-description {
  font-size: 1.4rem;
}
.display-logo {
  text-align: center;
}
/* seccion 2 */

.download_title {
  justify-content: center;
  text-align: center;
  color: black;
  font-weight: 700;
  margin-bottom: 3rem;
  font-size: 30px;
}

.download-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 200px;
  justify-items: center;
  margin-bottom: 20px;
}
.dow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  background-color: rgb(16, 16, 16);
  color: white;
  text-align: center;
  padding: 2rem 0 0 0;
}
.row-footer-icons {
  padding: 2rem 0;
  font-weight: 700;
  font-size: 3.5rem;
  font-size: 30px;
}
.row-footer-icons a {
  text-decoration: none;
  color: wheat;
  margin: 40px;
  font-size: 50px;
}
.row-footer-icons a:hover {
  color: #03045e;
}

.footer-sm {
  background-image: linear-gradient(to right, #0077b6, #03045e);
  color: black;
}
.footer-bottom {
  text-align: center;
  padding: 2rem 0;
  color: blue;
}

.text-center {
  text-align: center;
}
/* PRODUCTOS */

li {
  list-style: none;
}
.grid-tarjeta {
  margin-top: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 2rem;
  column-gap: 60px;
  margin-bottom: 80px;
  grid-template-areas:
    "body1 body2 body3"
    "body7 body8 body9"
    "body4 body5 body6";
}
.grid-tarjeta .tarjeta7 {
  grid-area: body7;
}
.grid-tarjeta .tarjeta1 {
  grid-area: body1;
}
.grid-tarjeta .tarjeta2 {
  grid-area: body2;
}
.grid-tarjeta .tarjeta3 {
  grid-area: body3;
}
.grid-tarjeta .tarjeta4 {
  grid-area: body4;
}
.grid-tarjeta .tarjeta5 {
  grid-area: body5;
}
.grid-tarjeta .tarjeta6 {
  grid-area: body6;
}
.grid-tarjeta .tarjeta8 {
  grid-area: body8;
}
.grid-tarjeta .tarjeta9 {
  grid-area: body9;
}
.tarjeta {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(34, 26, 147, 0.363);
}

.btn {
  margin-top: 35px;
  text-decoration: none;
  background-color: #3a30ce71;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.btn:hover {
  background-color: #03045e;
}
p {
  margin-top: 15px;
}
h2 {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-areas:
      "body7 body7 body7"
      "body1 body1 body1"
      "body2 body2 body2"
      "body9 body9 body9"
      "body3 body3 body3"
      "body8 body8 body8"
      "body4 body4 body4"
      "body5 body5 body5"
      "body6 body6 body6";
  }
}
/* Animacion titulo */
@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff,
      0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8, 0px 10px 100px #7b96b8,
      0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8,
      0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8;
  }
}
